@media (max-width: 576px) {
section.todo-app {
    .create-task {
      flex-direction: column;
      gap: 1.5rem;
       .create-task-button {
      margin-left: 0;
    }
  }
 .task-list {
    li {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      p{
                      margin-top: 1.5rem;
      }


       &::before {
        top: .5rem;
        left: 50%;
        margin-left: 0;

        transform: translateX(-50%);
      }
  }
}
}
}

